---
title: About Us | Ohel Harashbi
description: We take pride in serving all yidden that visit the holy kever of R' Shimon all yeal round.

---


<div class="other-pages_hero">
    <div class="other-pages_title">About Ohel Harashbi</div>
    <div class="other-pages_paragraph">We take pride in serving all yidden that visit the holy kever of R' Shimon all yeal round.</div>
</div>

<div class="about-hero">
</div>

<div class="about_container">
    <div class="about_title-container">
        <div class="about_tag"></div>
        <div class="about_title">Meet R' Shraga Shnitzer Shlit"a.</div>
        <div class="about_profile"></div>
        <div class="about_paragraph">
            <p>Who doesn't know Rab Shraga?</p>
            <p>A charming man with a white beard, who's always running around in the Rashbi tent, but instead of praying like everyone else, he is busy feeding everyone.</p>
            <p>You may visit Meron in the middle of the night or during the day, and there he is with a smile on his face and a tray of Kugel in his hands, he really doesn't want anything in return from you, no money and not even a thank you.</p>
            <p>The only thing he really desires, is that you should have a good meal while visiting the holy T'zion of Reb Shimon.</p>
            <p>Have you ever thought about why he is here, where does he come from? where does he get the financing for all that? and why is he doing it?</p>
            <p>So here are the answers; He has a home, not in Meron but in Bnei Brak. He arrives at Meron at any given time for the sole purpose of distributing food to Jews who come to pray at the gravesite of Rabbi Shimon bar Yochai.</p>
            <p>And he really doesn't have the money to finance all that by himself, but in the Z'chus of Rabbi Shimon, each time he needs the money, it will somehow show up, at times in miraculously incomprehensible ways.</p>
            <p>And he's doing all all of that because of a simple conviction that this is his mission in life on this world.</p>
        </div>
    </div>

    <div class="about_bottom">
      <a href="https://harashbi.com/#donate" class="cta cta--big">Donate now</a>  
    </div>
</div>