---
title: Activities | Ohel Harashbi
description: We take pride in serving all yidden that visit the holy kever of Rebbi Shimon all yeal round.
---

<div class="other-pages_hero">
    <div class="other-pages_title">Activities at Ohel Harashbi</div>
    <div class="other-pages_paragraph">We take pride in serving all yidden that visit the holy kever of Rebbi Shimon all yeal round.</div>
</div>

<div class="activities-card_container">
    <div class="activities-card">
        <div class="activities-card_image" style="background-image: url('/assets/images/activities/coffee.jpg')"></div>
        <div class="activities-card_text">
            <div class="activities-card_english-title">The Coffee Room</div>
            <div class="activities-card_yiddish-title">חדר תה וקפה</div>
            <div class="activities-card_paragraph">
                As an organization that operates a distribution system for drinking and lite refreshments in the coffee room in the yard of Zion Harshbi all year round, tea and coffee for the many guests who come to visit the sacred place is open 24 hours a day.
            </div>
        </div>
    </div>

    <div class="activities-card">
        <div class="activities-card_image" style="background-image: url('/assets/images/activities/shobbos.jpg')"></div>
        <div class="activities-card_text">
            <div class="activities-card_english-title">Shabbos Meals</div>
            <div class="activities-card_yiddish-title">סעודת שבת</div>
            <div class="activities-card_paragraph">
                At Ohel Harahbi we serve סעודות שבת כיד המלך to anyone that is spending Shabbos in the holy city of Meron. The meals are served every shobbos in the magnificant tent location right by the ohel of R' Shimon. Come join us!
            </div>
        </div>
    </div>

    <div class="activities-card">
        <div class="activities-card_image" style="background-image: url('/assets/images/activities/kugel.jpg')"></div>
        <div class="activities-card_text">
            <div class="activities-card_english-title">The Shobbos Kiddush</div>
            <div class="activities-card_yiddish-title">קידושים בשבת</div>
            <div class="activities-card_paragraph">
                Reb Shrage has taken it upon himself for the last twenty years to organize Kiddushim after every Minyan in the Rashbi tent of Meron, on Shabbos morning after prayer. take part in it by donating for the benefit of Shabbos.
            </div>
        </div>
    </div>

    <div class="activities-card">
        <div class="activities-card_image" style="background-image: url('/assets/images/activities/wine.jpg')"></div>
        <div class="activities-card_text">
            <div class="activities-card_english-title">Chai Rotel</div>
            <div class="activities-card_yiddish-title">ח"י רוטל</div>         
            <div class="activities-card_paragraph">
                Ohal Harashbi supplies "chai rotel" to thousands of guests at Rabbi Shimon's kever all year long. Grape juice, Milk, Coffee, Tea, & cold drinks. Earn the merit of chai rotel simply by donating to help Reb Shrage with his efforts.
            </div>
        </div>
    </div>

    <div class="activities-card">
        <div class="activities-card_image" style="background-image: url('/assets/images/activities/lag.jpg')"></div>
        <div class="activities-card_text">
            <div class="activities-card_english-title">Laag B'omer Operations</div>
            <div class="activities-card_yiddish-title">ל"ג בעומר</div>  
            <div class="activities-card_paragraph">
                During the night of Lag Ba'Omer, thousands of people come to stay at the 'הכנסת האורחים' of Ohel Harashbi. With portions of food and drinks for the tens of thousands who come to the Tzion. We order food that comes prepared & fresh from a prestigious catering in Jerusalem.
            </div>
        </div>
    </div>

    <div class="activities-card">
        <div class="activities-card_image" style="background-image: url('/assets/images/activities/purim.jpg')"></div>
        <div class="activities-card_text">
            <div class="activities-card_english-title">Purim Seudah</div>
            <div class="activities-card_yiddish-title">סעודת פורים</div>
            <div class="activities-card_paragraph">
                Every year, סעודת פורים is celebrated in the Ohel of Rashbi, headed by Rabbi Shraga Schnitzer. As is customary, Reb Shrage is distributing בשר ייין ודגים to the masses כיד המלך.
            </div>
        </div>
    </div>

    <div class="activities-card">
        <div class="activities-card_image" style="background-image: url('/assets/images/activities/rosh-chodesh.jpg')"></div>
        <div class="activities-card_text">
            <div class="activities-card_english-title">Rosh Chodesh Seuda</div>
            <div class="activities-card_yiddish-title">סעודת ראש חודש</div>           
            <div class="activities-card_paragraph">
                Every month there is a Rosh Chodesh meal for all those who visit the holy Kaver, and on the eve of Rosh Chodesh there is also a generous division of food and drinks.
            </div>
        </div>
    </div>
</div>




