---
title: Rabbi Shimon Bar Yochai: Rashbi's Kitchen in Meron.
description: Rabbi Shimon Bar Yochai's Kitchen in Meron,Israel,serving free meals to guests at Rashbi's Kever all year round.
---






<section class="hero">
    <span class="music">
        <span class="play"><i class="fal fa-play"></i> <span class="text">Play Music</span></span>
        <span class="pause"><i class="fal fa-pause"></i> <span class="text">Pause Music</span></span>        
    </span>

    <video autoplay muted loop poster="/assets/images/home-page/a.jpg" id="bgvid">
        <source src="/assets/video/harashbi.mp4" type="video/mp4">
    </video>

    <div class="hero_content">
        <div class="hero_left">
            <h2 class="hero_title wow fadeInDown">Rabbi Shimon Bar Yochai: Rashbi's Kitchen in Meron.</h2>
            <div class="hero_cta wow fadeInDown">
                <a href="#donate" class="donate_button cta cta--big wow pulse">
                    Donate Now!
                </a>
            </div>
        </div>
        <div class="hero_right">
            <div class="hero_screem wow fadeInRight"></div> 
        </div>
    </div>    
</section>

<section class="at-work">
    <div class="stats wow zoomIn">
        <div class="stats_item">
            <span class="stats_number odometer years">0</span>
            <span class="stats_label">Years of Activity</span>
        </div>
        <div class="stats_item">
            <span class="stats_number odometer milk">0</span>
            <span class="stats_label">Milk Bags Consumed This Year</span>
        </div>
        <span class="stats_item">
            <span class="stats_number odometer drinks">0</span>
            <span class="stats_label">Drinks Served This Year</span>
        </div>
    </div>
    <div class="at-work_container" >
        <div class="at-work_left">
            <h1 class="at-work_title">
                We are here to serve <i>you.</i>
            </h1>
            <div class="at-work_paragraph">
                "The organization of Ohel Rashbi operates 24 hours a day throughout the year, providing food, drinks and more to thousands of people at Rabbi Shimon Bar Yochai's kever in the holy city of Meron, every Shabbat and Yom Tov, especially on Lag Ba'Omer."
            </div>
            <div class="at-work_cta">
                <a href="#donate" class="donate_button cta cta--big wow pulse">Donate now</a>
            </div>
        </div>
        <div class="at-work_right wow fadeInRight">
            <div class="at-work_image-caption">Rebbi Shraga's Kugel!</div>
            <div class="at-work_image"></div>
        </div>       
        <div class="at-work_bottom">
            <span class="at-work-bottom-item">Coffee Room</span>
            <span class="at-work_bottom-dot">·</span>
            <span class="at-work-bottom-item">Shobbos Meals</span>
            <span class="at-work_bottom-dot">·</span>
            <span class="at-work-bottom-item">Chai Rottel</span>
            <span class="at-work_bottom-dot">·</span>
            <span class="at-work-bottom-item">Laag B'omer</span>
            <span class="at-work_bottom-dot">·</span>
            <span class="at-work-bottom-item">Purim Seuda</span>
            <span class="at-work_bottom-dot">·</span>
            <span class="at-work-bottom-item">Rosh Chodesh</span>
        </div> 
    </div>
    <div class="at-work_side">
        <div href="" class="at-work_profile-image"></div>
        <div class="at-work_line"></div>
        <div class="at-work_line-text">R' Sharaga Shlit"a</div>
    </div>
</section>

<section class="donate" id="donate">
    <div class="donate_container">
        <h1 class="donate_h1">Donate Now! <span class="usual">תזכו למצוות</span></h1>        
        <form class="donation-form" action="https://www.usaepay.com/gate.php" method="POST">
            <div class="donate-form">
                <div class="donate-form_section donate-form_section--100">
                    <div class="donate-form_title">Donation Opportunities</div> 
                    <div class="donate-form_selection">
                        <div class="donate-card" amount="50.00">
                            <div class="donate-card_title donate-card_title--yiddish">חי רוטל וואסער</div>
                            <div class="donate-card_title donate-card_title--english">Chai Rotel Water</div>
                            <div class="donate-card_amount">$50</div>
                        </div>
                        <div class="donate-card" amount="120.00">
                            <div class="donate-card_title donate-card_title--yiddish">חי רוטל קאווע</div>
                            <div class="donate-card_title donate-card_title--english">Chai Rotel Coffee</div>
                            <div class="donate-card_amount">$120</div>
                        </div>
                        <div class="donate-card" amount="72.00">
                            <div class="donate-card_title donate-card_title--yiddish">חי' רוטל סאדע</div>
                            <div class="donate-card_title donate-card_title--english">Chai Rotel Soda</div>
                            <div class="donate-card_amount">$72</div>
                        </div>
                        <div class="donate-card" amount="180.00">
                            <div class="donate-card_title donate-card_title--yiddish">מזונות ליום</div>
                            <div class="donate-card_title donate-card_title--english">Cake For A Day</div>
                            <div class="donate-card_amount">$180</div>
                        </div>
                        <div class="donate-card" amount="1000.00">
                            <div class="donate-card_title donate-card_title--yiddish">מזונות לשבוע</div>
                            <div class="donate-card_title donate-card_title--english">Cake For A Week</div>
                            <div class="donate-card_amount">$1,000</div>
                        </div>
                        <div class="donate-card" amount="300.00">
                            <div class="donate-card_title donate-card_title--yiddish">סענדוויטשעס ליום</div>
                            <div class="donate-card_title donate-card_title--english">Sandwiches For A Day</div>
                            <div class="donate-card_amount">$300</div>
                        </div>
                        <div class="donate-card" amount="1800.00">
                            <div class="donate-card_title donate-card_title--yiddish">סענדוויטשעס לשבוע</div>
                            <div class="donate-card_title donate-card_title--english">Sandwiches For A Week</div>
                            <div class="donate-card_amount">$1,800</div>
                        </div>
                        <div class="donate-card" amount="6000.00">
                            <div class="donate-card_title donate-card_title--yiddish">סענוויטשעס לחודש</div>
                            <div class="donate-card_title donate-card_title--english">Sandwiches For A Month</div>
                            <div class="donate-card_amount">$6,000</div>
                        </div>
                        <div class="donate-card" amount="26.00">
                            <div class="donate-card_title donate-card_title--yiddish">פדיון נפש</div>
                            <div class="donate-card_title donate-card_title--english">Pedyon Nefesh + Kvitel</div>
                            <div class="donate-card_amount">$26</div>
                        </div>
                        <div class="donate-card" amount="360.00">
                            <div class="donate-card_title donate-card_title--yiddish">פרנס היום</div>
                            <div class="donate-card_title donate-card_title--english">One Day Sponsor</div>
                            <div class="donate-card_amount">$360</div>
                        </div>
                        <div class="donate-card" amount="1000.00">
                            <div class="donate-card_title donate-card_title--yiddish">קידושא רבה שבת</div>
                            <div class="donate-card_title donate-card_title--english">Shabbos Morning Kiddish</div>
                            <div class="donate-card_amount">$1,000</div>
                        </div>
                        <div class="donate-card" amount="400.00">
                            <div class="donate-card_title donate-card_title--yiddish">סעודת הושע בן בארי</div>
                            <div class="donate-card_title donate-card_title--english">Seudas Hoshea Ben Beeri</div>
                            <div class="donate-card_amount">$400</div>
                        </div>
                    </div>
                    <div class="donate-form_kvitel">
                        <div class="field">
                            <i class="fal fa-dollar-sign"></i>
                            <input type="number" name="costom-amount" min="1" class="field_input costom-amount" placeholder="Other Amount">
                        </div>
                        <div class="field">
                            <i class="fal fa-file-alt"></i>
                            <a href="#kvitel-modal" rel="modal:open">
                                <input type="text" name="kvitel" placeholder="Enter Your Personal Kvitel Here" class="field_input kvitel">
                            </a>
                            
                        </div>
                    </div>
                </div>


                <div class="donate-form_section donate-form_section--66">
                    <div class="donate-form_title">Your Info</div>
                    <div class="donate-form_fields">
                        <div class="field">
                            <label class="field_label">Name:</label>
                            <input type="text" name="UMname" id="cc-name" class="field_input" required>
                        </div>
                        <div class="field">
                            <label class="field_label">Address:</label>
                            <input type="text" name="UMstreet" class="field_input">
                        </div>
                         <div class="field">
                            <label class="field_label">City:</label>
                            <input type="text" name="city" class="field_input">
                        </div>
                          <div class="field">
                            <label class="field_label">State</label>
                            <input type="text"name="state" class="field_input">
                        </div>
                         <div class="field">
                            <label class="field_label">Zip Code:</label>
                            <input type="text" name="UMzip" class="field_input">
                        </div>
                          <div class="field">
                            <label class="field_label">Country:</label>
                            <input type="text"  name="country" class="field_input">
                        </div>
                        <div class="field">
                            <label class="field_label">Phone:</label>
                            <input type="text" name="phone" class="field_input">
                        </div>
                        <div class="field">
                            <label class="field_label">Email:</label>
                            <input type="text" name="email" class="field_input">
                        </div>
                    </div>
                </div>

                <div class="donate-form_section donate-form_section--33">
                    <div class="donate-form_title">Payment Info <div class="donate-form_title-fedelity"></div> </div>
                    <div class="donate-form_paymet-fields">
                        <div class="card-container"></div>
                        <div class="cc-field">
                            <input type="hidden" name="UMkey" value="j4YwyfrQsze3U5VedZ4FVj9j9ZKkiZi9">
                            <input type="hidden" name="UMhash" value="s4d81sdg">
                            <input type="hidden" name="UMredir" value="https://www.rebshimon.org/">
                            <input type="hidden" name="UMcommand" value="cc:sale">
                            {{!-- <input type="hidden" name="UMinvoice" value="1234"> --}}
                            <input type="hidden" name="UMamount">
                            {{!-- <input type="hidden" name="UMtestmode" value="true"> --}}
                            <div class="cc-field_input-container cc-field_input-container--number">
                                <label class="cc-field_label" for="cc-number">CC Number:</label>
                                <input type="text" id="cc-number" name="UMcard" class="cc-field_input" required>
                            </div>
                            <div class="cc-field_input-container cc-field_input-container--expiry">
                                <label class="cc-field_label" for="expiry">EXP:</label>
                                <input type="text" id="expiry" name="UMexpir" class="cc-field_input" required>
                            </div>
                            <div class="cc-field_input-container cc-field_input-container--cvc">
                                <label class="cc-field_label" for="cvc">CVC:</label>
                                <input type="text" id="cvc" class="cc-field_input" name="cvcInput" required>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="donate-form_section donate-form_section--100">
                    <div class="submit-section">
                        <div class="g-recaptcha" data-sitekey="6LdR-cAUAAAAAJjF-9A9OgZ5q6TLLk2Sw9BoDUN9"></div>
                        <div class="submit-section_total">
                            <span class="submit-section_total-title">Total:</span>
                            <span class="submit-section_total-amount">$0</span>
                        </div>
                        <button class="submit-section_button">
                            Submit
                        </button>

                        <button type="submit" style="display: none;" class="submit-button">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<form id="kvitel-modal" class="modal">

    <h2>Your Private Kvitel</h2>
    <textarea name="private-kvital" id="private-kvital" placeholder="Please write in לשון הקודש" cols="30" rows="10" autofocus lang="he" dir="auto" ></textarea>
    <a class="cta cta--header" rel="modal:close">Save</a>

</form>

<form id="success-modal" class="modal fixed-modal">

    <div id="success-message">
        <h2 class="green">Thank You.</h2>
        <p>Thank you for taking part in the largest food operation at the Kever Harashbi - Ohel Harashbi. May you merit all your wishes in the zechus of the holy Tana Reb Shimon Bar Yochai!</p>
    </div>
    <div id="error-message">
         <h2 class="red">Transaction Declined.</h2>
        <p>For some reason your donation did not process. Please contact our office to process your payment manually or try again soon.</p>
    </div>

</form>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>